<h1>Edit The Team</h1>

<%= render "form" %>

<div>
  <%= form_for @invitation do |f| %>
    <%= hidden_field_tag(:team_id, @team[:id]) %>
    <%= f.label :email %>
    <%= f.text_area :email %>
    <%= f.submit %>
  <% end %>
</div>
