<h1><%= @team.title %></h1>
<br>
<input style="width: 300px"type="text" id="filter-library" class="form-control" placeholder="Filter..."/>
<h2>Team Members</h2>
<%#= @team.user.first_name %>
<% @team.membered_users.each do |element| %>
  <%= element.first_name %>
  <%= element.last_name %>
  <br>
<% end %>
<hr>
<h2>Ideas Shared With <%= @team.title %></h2>
<% @team.shared_ideas.active_ideas.each do |element| %>
  <div>
  <p class="title"><%= link_to element.title, idea_path(element) %> </p>
  <%= element.description %>
  <hr>
  </div>
<% end %>



<br><br>

<%= link_to "Edit", edit_team_path(@team) %> |

<%= link_to "Delete", team_path(@team), method: :delete, data: {confirm: "Are you sure?"} %>
