<h1><%= @team.title %></h1>
<br>
<%= link_to "Invite team members to #{@team.title}!", edit_team_path(@team) %>
<br>
<%#= link_to "Manage" %>
<br>
<hr>
<h2>Ideas Shared With <%= @team.title %></h2><hr>
<input style="width: 300px"type="text" id="filter-library" class="form-control" placeholder="Filter ideas..."/>
<% @team.shared_ideas.active_ideas.each do |element| %>
  <div class="well teams">
  <h1 class="title"><%= link_to element.title, idea_path(element) %> </h1>
  <%#= element.description %>
  <p><%= raw markdown.render(element.description) %></p>
  </div>
<% end %>

<h2>Team Members</h2>
<%#= @team.user.first_name %>
<% @team.membered_users.each do |element| %>
  <%= element.first_name %>
  <%= element.last_name %>
  <br>
<% end %>
<hr>


<br><br>

<%= link_to "Edit", edit_team_path(@team),class: "btn btn-info" %>

<%= link_to "Delete", team_path(@team), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-info" %>
