<div class="ideas-container">
  <h2 id="pinned">My Pinned Ideas Pins Index</h2>
  <%#= link_to "New Idea", new_idea_path, class: "btn btn-info btn-lg" %>
  <br>
  <input style="width: 300px" type="text" id="filter-library" class="form-control" placeholder="Filter..."/>
  <br>
  <div id="pin">
    <% @pins.each do |pin| %>
      <% idea = pin.idea %>
      <div id="pin_<%= pin.id %>" class="well col-md-12">
        <div class=" col-md-1">
          <span class="bookmark">
            <% pin = idea.pins.find_by_user_id(current_user.id) if user_signed_in? %>
            <% if pin %>
              <%= link_to fa_icon("bookmark 2x"), idea_pin_path(idea, pin), method: :delete %>
            <% else %>
            <%= link_to fa_icon("bookmark-o 2x"), idea_pins_path(idea), method: :post %>
            <% end %>
          </span>
        </div>
        <div class="col-md-9 title">
          <h3><%= link_to idea.title.truncate(38), idea_path(idea) %></h3>
        </div>
        <div class="icon col-md-2">
          <span class="users">
            <% if current_user.id == idea.user_id %>
              <%= link_to fa_icon("users 2x"), idea_path(idea), method: :get %>
            <% end %>
          </span>
          <span class="trash">
            <% if current_user.id == idea.user_id %>
              <%= link_to fa_icon("trash 2x"), idea_path(idea), method: :delete, data: {confirm: "Are you sure?"}, style: "color:black"  %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ideas-container">
  <h2 id="shared_by">Ideas Shared With Me</h2>
  <% @shared_with_me.each do |idea| %>
    <div class="well col-md-12">
      <div class="col-md-1">
        <span class="bookmark">
          <% pin = idea.pins.find_by_user_id(current_user.id) if user_signed_in? %>
          <% if pin %>
            <%= link_to fa_icon("bookmark 2x"), idea_pin_path(idea, pin), method: :delete %>
          <% else %>
            <%= link_to fa_icon("bookmark-o 2x"), idea_pins_path(idea), method: :post %>
          <% end %>
        </span>
      </div>
      <div class="col-md-9">
        <h3><%= link_to idea.title.truncate(38), idea_path(idea) %></h3>
      </div>
      <!--
        <span class="users">
        <%# if current_user.id == idea.user_id %>
          <%#= link_to fa_icon("users 2x"), idea_path(idea), method: :get %>
        <%# end %>
        </span> -->
      <div class="icon col-md-2">
        <span class="trash">
          <% if current_user.id == idea.user_id %>
            <%= link_to fa_icon("trash 2x"), idea_path(idea), method: :delete, data: {confirm: "Are you sure?"}, style:"color:black"  %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="ideas-container">
  <h2 id="created_by">Ideas Created By Me</h2>
  <% @my_ideas.each do |idea| %>
    <div class="well col-md-12">
      <div class="col-md-1">
        <span class="bookmark">
          <% pin = idea.pins.find_by_user_id(current_user.id) if user_signed_in? %>
          <% if pin %>
            <%= link_to fa_icon("bookmark 2x"), idea_pin_path(idea, pin), method: :delete %>
          <% else %>
            <%= link_to fa_icon("bookmark-o 2x"), idea_pins_path(idea), method: :post %>
          <% end %>
        </span>
      </div>
      <div class="col-md-9">
        <h3><%= link_to idea.title, idea_path(idea) %></h3>
      </div>
      <div class="icon col-md-2">
        <span class="users">
          <% if current_user.id == idea.user_id %>
            <%= link_to fa_icon("users 2x"), idea_path(idea), method: :get %>
          <% end %>
        </span>
        <span class="trash">
          <% if current_user.id == idea.user_id %>
            <%= link_to fa_icon("trash 2x"), idea_path(idea), method: :delete, data: {confirm: "Are you sure?"}, style:"color:black"  %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>