<h1>My Pinned Ideas</h1>
<%#= link_to "New Idea", new_idea_path, class: "btn btn-info btn-lg" %>
<br>
<br>
<% @ideas.each do |element| %>
  <div class="well">
    <p>Title: <%= link_to element.title, idea_path(element) %></p>
    <p>Description: <%= element.description %></p>
    <p>Rank: <%= element.rank %></p>
  </div>
<% end %>
<br>

<!-- <% @my_ideas.each do |idea| %>
<div class="well">
  <p>Title: <%= link_to idea.title, idea_path(idea) %></p>
  <p>Description: <%= idea.description %></p>
  <p>Rank: <%= idea.rank %></p>
</div>
<% end %> -->

<% @shared_with_me.each do |idea| %>
<div class="well">
  <p>Title: <%= link_to idea.title, idea_path(idea) %></p>
  <p>Description: <%= idea.description %></p>
  <p>Rank: <%= idea.rank %></p>
</div>
<% end %>
