<p>Title: <%= @idea.title %></p>

<p>Description: </p>
  <%= raw markdown.render(@idea.description) %>
<p>Created by: <%= link_to @idea.user.full_name, user_path(@idea.user) %></p>
<% pin = @idea.pins.find_by_user_id(current_user.id) if user_signed_in? %>
<% if pin %>
  <%= link_to fa_icon("bookmark 3x"), idea_pin_path(@idea, pin), method: :delete %>
<% else %>
  <%= link_to fa_icon("bookmark-o 3x"), idea_pins_path(@idea), method: :post %> |
<% end %>

<% if current_user.id === @idea.user_id %>
  <%= link_to "Edit", edit_idea_path(@idea) %>
  <%= button_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%= render "/comments/form" %>

<strong><p>There are <%= @idea.comments.count %> Comments</p></strong>

<% @idea.comments.each do |comment| %>
  <div class="well">
    <p>Comment Body: <%= comment.body %></p>
    <p>Creator: <%= link_to comment.user.full_name, user_path(comment.user) %></p>
    <p>Created : <%= time_ago_in_words(comment.created_at) %> ago</p>

    <% if current_user.id === comment.user_id %>
      <p><%= link_to "Edit", edit_idea_comment_path(@idea, comment) %></p>
      <p><%= link_to "Delete", idea_comment_path(@idea, comment), method: :delete, data: {confirm: "Are you sure?"} %></p>
    <% end %>
  </div>
<% end %>

<h2>Sharing Ideas With Teams</h2>
<br>

<%= simple_form_for Share.new, url: idea_shares_path(@idea), method: :post do |f| %>
  <%= f.collection_check_boxes :team_ids, current_user.teams, :id, :title %> 
  <%#= f.association :teams_shared_with, as: :check_boxes %>
  <%= f.submit %>
<% end %>
