    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div style="padding:20px;">
            <h1>Sign Up</h1>
            <%= form_for User.new do |f| %>
            <div class="form-group">
              <%= f.label :first_name %><br>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :last_name %><br>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email %><br>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %><br>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit "Sign Up", class: "btn btn-info" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>