<h1><%= @user.first_name %></h1>
  <div class="gravatar">
    <%= gravatar_for @user %>
  </div>

<br>
<%= link_to @user.handle, user_path(@user) %>
<br>
<%= @user.bio %>


<%= link_to "New Team", new_team_path %>
<br>
<%= link_to "Teams I've Made", teams_path %>
