
<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to(image_tag("brain3.png", :alt => "logo", :title => "Home"), "/ideas") %>

      </li>
      <br>
      <li>
        <u>Ideas</u>
      </li>
      <li>
        <%= link_to "Pinned", ideas_path+"\#pinned" %>
      </li>
      <li>
        <%= link_to "Created by me", ideas_path+"\#created_by" %>
      </li>
      <li>
        <%= link_to "Shared by me", ideas_path+"\#shared_by" %>
      </li>
      <li>
        <%= link_to "+ New Idea", new_idea_path %>
      </li>
        <br>
        <br>
      <li>
        <u>Teams</u>
      </li>
      <% current_user.membered_teams.each do |team| %>
      <li>
        <%= link_to team.title, team_path(team) %>
      </li>
        <% end %>
      <li>
        <%= link_to "+ New Team", new_team_path %>
      </li>
    </ul>
  </div>
       <!-- /#sidebar-wrapper -->
