
<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= image_tag "brain3.png" %>
      </li>
      <br>
      <li>
        <%= link_to "Pinned", ideas_path %>
      </li>
      <li>
        <a href="#">Created by me</a>
      </li>
      <li>
        <a href="#">Shared by me</a>
      </li>
      <li>
        <%= link_to "+ New Idea", new_idea_path %>
      </li>
        <br>
        <br>
      <li>
        <a href="#"><strong>Teams</strong></a>
      </li>
      <% current_user.teams.each do |team| %>
      <li>
        <%= link_to team.title, team_path(team) %>
      </li>
      <% end %>
      <li>
        <%= link_to "+ New Team", new_team_path %>
      </li>
    </ul>
  </div>
       <!-- /#sidebar-wrapper -->
