<!DOCTYPE html>
<html>
<head>
  <title>TeamJuiceBoxIdeaz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<!-- sidebar -->
  <% if @login_page %>
  <% else %>
    <%= render "/layouts/sidebar" %>
  <% end %>

<!-- navbar -->
  <% if @login_page %>
  <% else %>
    <%= render "/layouts/navbar" %>
  <% end %>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
  <!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
    <div class="alerts">
      <%= flash[:notice] || flash[:alert] %>
    </div>
      <div class="col-md-offset-1">
        <%= yield %>
      </div>
  </div>
</div>
</div> <!-- /#page-content-wrapper -->
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
</body>
</html>
